:root {
  --background-color: #000;
  --background-color-contrast: #200;
  --text-color: #c1a6a6;
  --text-color-secondary: #c1b4a6;
}

*,
*::before,
*::after { box-sizing: border-box; }

html {
  font-size: 24px;
  font-family: 'Bitter', sans-serif;
}

body {
  line-height: 1.25;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0.333rem;
}

a {
  color: var(--text-color-secondary);
  text-decoration: underline;
}

p {
  text-align: justify;
}

.stand-out {
  padding: 1rem;
  background-color: var(--background-color-contrast);
}

.stand-out strong {
  font-family: 'IMB Plex Mono', monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fcf9ef;
    --background-color-contrast: #adad83;
    --text-color: #4c4741;
    --text-color-secondary: #4c4c41;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.15;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
