:root {
	--color-texto: #e5e5e5;
	--color-primario: #66f;
	--color-secundario: #f66;
	--color-terciario: #6f6;
}

*, *::before,
*::after { box-sizing: border-box; }

html,
body,
.portada { height: 100%; }

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 24px;
	color: var(--color-texto);
}

a,
a:visited,
a:active,
a:hover { color: var(--color-secundario); }

p { margin: 0; }

ul.vinculos-sociales {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style-type: none;
}

ul.vinculos-sociales > li {
	margin: 0.2em;
	font-size: 2em;
}

footer { text-align: center; }

.mensaje-cambiante {
	color: var(--color-terciario);
	font-family: 'Overpass Mono', monospace;
}

.mi-nombre {
	font-size: 1.5em;
	color: var(--color-primario);
}

.portada {
	padding: 0.5em;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	background-color: rgba(45, 45, 45, 0.8);
}

.portada::after {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('img/portada.jpg') no-repeat center;
	background-size: cover;
	z-index: -1;
}

@media (min-width: 576px) {
	main,
	section,
	footer {
		width: 576px;
		margin: 0 auto;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 36px;
		text-align: center;
	}
}
